/Rummikub/nbproject/private/
/Rummikub/build/
/Rummikub/dist/
/nbproject/private/
/build/
/dist/
/JavaFXRummikub/build/
/JavaFXRummikub/dist/
/RummikubWebApp/nbproject/private/
/RummikubWebApp/build/
/RummikubClient/nbproject/private/
/RummikubClient/build/
/RummikubClient/dist/