#gamePlayPane {
    -fx-background-image: url("../images/Board.png");    
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;    
}

#PlayerStand {
    -fx-background-image: url("../images/rummikub_stand.png");    
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;    
}

.currentPlayer {
    -fx-background-color: lightgreen;
    -fx-background-radius: 25;
}

.TilesView, .TileCellView, .TilesView:empty, .boardView {
    -fx-background-color: transparent;
}

.list-cell:empty {
    visibility:hidden;
    -fx-background-color: transparent;
}

#boardContainer .list-cell {
    -fx-cell-size: 80 ;
    -fx-background-color: transparent;
}

#boardContainer .sequenceView .list-cell {
    -fx-cell-size: 10 ;
    -fx-background-color: transparent;
}

.error {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: red;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,1) , 8,0,0,0 );
}

.massage {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: yellow;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#707070, #575757);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#playersNamesGrid {
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 5.0;
    -fx-padding: 5;
    -fx-hgap: 10;
    -fx-vgap: 10;
}