/*
*
* New Game Scene Style Definitions
*
*/
#newGamePane {
    -fx-background-image: url("../images/Rummikub_Background.jpg");    
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;    
}

#newGameInnerPane {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.error {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: red;
}

.message {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: yellow;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#707070, #575757);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}