body {
    background-image: url(../images/Rummikub_Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.newGame,.mainGame,.gameOver,.error {
    visibility: hidden;
}

/**
* Waiting Games Page
**/
#waitingGamesTable {
    margin-top: 150px;
}

#waitingGamesTable th:hover {
        
}