/**
* All Pages
**/
.page {
    display: none;
}

.page.visible {
    display: block;
}

.page .panel {
    background-color: transparent;
    font-size: 2rem;
}
/**
* Waiting Games Page
**/
.waitingGamesBackground {
    background-image: url(../images/Rummikub_Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#waitingGamesTable {
    margin-top: 150px;
}

#waitingGamesTable th:hover {

}

#waitingGamesTable thead {
    background-color: white;
}

#waitingGamesTable td,th {
    text-align: center !important;
    font-size: 1.8rem;
    font-weight: bold;
}

#waitingGamesTable th {
    background: lightblue;
    border-color: white;
    font-size: 2rem;
}

#waitingGamesTable .selected {
    background-color: chartreuse;
}

#playerNameInputGroup {
    width: 30%;
    margin: 10px 0 15px 0;
}

#waitingGames .btn-file {
    position: relative;
    overflow: hidden;
}

#waitingGames .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

#waitingGames .btn-group-vertical {
    width: 50%;
}

#waitingGames input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

#pageError {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 80%;
}
/**
* Main Game Page
**/

.mainGameBackground {
    background-image: url(../images/Board.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#playersPanel {
    margin-top: 5%;
}

#board {
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 20%;
    border-radius: 10px;
    position: absolute;
}

#playersTable {
    background-color: rgba(0,0,0,0.2);
    color: white;
}

#playersTable th {
    text-align: center !important;
    font-size: 2.5rem;
    font-weight: bold;
    width:25%;
}

#playersTable th.currentPlayer {
    background-color: greenyellow;
}

#playerTilesContainer {
    position: absolute;
    bottom: 5%;
    height: 15%;
    left: 15%;
    right: 15%;
    z-index: 1000;
}

#playerTilesStandImg {
    height: 100%;
    width: 100%;
}

#playerTilesStand {
    position: absolute;
    bottom: 5%;
    height: 15%;
    left: 10%;
    right: 10%;
    display: inline;
    z-index: 0;
}

#mainGameButtonsContainer {
    right: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#playerTilesList, .boardSequence{
    list-style-type: none;
    margin: 0;
    margin-right: 10px;
    padding: 5px;
    width: 100%;
}

#playerTilesList li, .boardSeqList li {
    float: left;
    margin: 5px;
    padding: 5px;
}

.tileImg {
    height: 56px;
    width: 40px;
}
